{% load static %}

<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <!-- Left section (ATIKIN IF text) -->
            <div class="col-md-4 text-left">
                <p class="text-muted"> &copy; 2024 ATIKIN IF</p>
                <p class="text-muted">Зроблено з любов'ю ❤️ в Івано-Франківську</p>
            </div>

            <!-- Center section (contact info) -->
            <div class="col-md-4 text-md-center">
                <span class="px-2">info@gmail.com</span>
                <span class="px-2">telephone</span>
                <span class="px-2">telephone</span>
            </div>

            <!-- Right section (schedule info) -->
            <div class="col-md-4 text-right">
                <p class="text-muted">
                    <strong>Графік роботи клієнт-центру:</strong><br>
                    Пн-Сб: 9:00 – 18:00 <br>
                    Вс: 10:00 – 18:00 <br>
                    31.12.2024 - 02.01.2025 - вихідні
                </p>
            </div>
        </section>
    </div>
</footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.thumb a').click(function(e){
            e.preventDefault();
            $('.mainImage img').attr('src', $(this).attr("href"));
        })
    })

</script>


</body>
</html>